In [19]:
import pandas as pd

In [ ]:
from googleapiclient.discovery import build

In [12]:
import seaborn as sbn

##### In coding terms, when you use .build, you're creating a connection to a specific Google API that you want to interact with. The .build function takes parameters like the API name and version, and it sets up a connection that allows you to make requests to that API. Just like your Builder knows where to gather clues, .build helps your code know which Google API it should communicate with

### Build function syntax
#### build(serviceName, version, *, http=None, developerKey=None, model=None, requestBuilder=googleapiclient.http.HttpRequest)

In [ ]:
api_key="AIzaSyDM3SPUKo-qRp760mMovn9nW6SCVAj5VS8"
channel_id="UCh9nVJoWXmFb7sLApWGcLPQ"
youtube=build('youtube','v3',developerKey=api_key)

In [14]:
from datetime import datetime

In [15]:
def channel_stat(youtube,channel_id):
    request = youtube.channels().list(
        part='snippet,contentDetails,statistics',
        id=channel_id
    )
    
    response = request.execute()
    data= dict(Channel_name=response['items'][0]['snippet']['title'],
        Subscribers=response['items'][0]['statistics']['subscriberCount'],
              timestamp=response['items'][0]['snippet']['publishedAt']
              )
    return data

In [ ]:
result=channel_stat(youtube,channel_id)

In [ ]:
print(result)

 #### Json Format

 "width":800,
                  "height":800
               }
            },
            "localized":{
               "title":"codebasics",
               "description":"I am Dhaval Patel, Founder of the online education platform codebasics.io and a co-founder of a software & data company called AtliQ Technologies (Ex. Bloomberg, NVIDIA).  Teaching is my passion. The goal of this channel is to make the BEST quality DATA education available to all for free. I have more than 12+ years of DATA INDUSTRY experience (mainly in the USA) and the co-founder of this channel Hemanand Vadivel has 6+ years of DATA INDUSTRY experience in Europe. We teach based on our real-life experiences in the industry. \n\nVisit https://codebasics.io/ for my video courses that teach technology in the most simplistic and practical way!\n\nI teach simple programming, data science, data analytics, artificial intelligence, machine learning, data structures, software architecture, etc on my channel.\n\nFor all Business and Sponsorship related inquiries, please contact business@codebasics.io.\n\n"
            },
            "country":"US"
         },
         "contentDetails":{
            "relatedPlaylists":{
               "likes":"",
               "uploads":"UUh9nVJoWXmFb7sLApWGcLPQ"
            }
         },
         "statistics":{
            "viewCount":"56843531",
            "subscriberCount":"832000",
            "hiddenSubscriberCount":false,
            "videoCount":"613"
         }
      }
   ]
}

In [ ]:
api_key="AIzaSyDM3SPUKo-qRp760mMovn9nW6SCVAj5VS8"
channel_ids=["UCh9nVJoWXmFb7sLApWGcLPQ",
             "UCBwmMxybNva6P_5VmxjzwqA",
             "UCrUHyTeumr4EYGZdaISPvAQ",
             "UC7cs8q-gJRlGwj4A8OmCmXg",]
youtube=build('youtube','v3',developerKey=api_key)

In [ ]:
def channel_stat(youtube,channel_ids):
    Channel_data=[]
    request = youtube.channels().list(
        part='snippet,contentDetails,statistics',
        id=','.join(channel_ids)
    )
    
    response = request.execute()
    for i in range(len(response['items'])):
        data= dict(Channel_name=response['items'][i]['snippet']['title'],
        Subscribers=response['items'][i]['statistics']['subscriberCount'],
                   Total_views=response['items'][i]['statistics']['viewCount'],
                   Total_videos=response['items'][i]['statistics']['videoCount'],
              Published=response['items'][i]['snippet']['publishedAt']

              )
        Channel_data.append(data)

    return Channel_data

In [ ]:
result=channel_stat(youtube,channel_ids)
print(result)

[{'Channel_name': 'codebasics', 'Subscribers': '832000', 'Total_views': '56843531', 'Total_videos': '613', 'Published': '2015-11-07T17:29:46Z'}, {'Channel_name': 'Apna College', 'Subscribers': '4070000', 'Total_views': '620433140', 'Total_videos': '748', 'Published': '2020-08-05T16:09:28.304314Z'}, {'Channel_name': 'Sankho kun', 'Subscribers': '124000', 'Total_views': '12244896', 'Total_videos': '110', 'Published': '2019-01-23T08:47:22Z'}, {'Channel_name': 'Alex The Analyst', 'Subscribers': '548000', 'Total_views': '22262096', 'Total_videos': '232', 'Published': '2020-01-08T05:04:24.970712Z'}]

In [ ]:
channel_data=pd.DataFrame(result)

In [ ]:
channel_data

,Channel_name,Subscribers,Total_views,Total_videos,Published
0,codebasics,832000,56843531,613,2015-11-07T17:29:46Z
1,Apna College,4070000,620433140,748,2020-08-05T16:09:28.304314Z
2,Sankho kun,124000,12244896,110,2019-01-23T08:47:22Z
3,Alex The Analyst,548000,22262096,232,2020-01-08T05:04:24.970712Z

In [ ]:
channel_data.dtypes

Channel_name    object
Subscribers     object
Total_views     object
Total_videos    object
Published       object
dtype: object

In [ ]:
channel_data['Subscribers']=pd.to_numeric(channel_data['Subscribers'])
channel_data['Total_views']=pd.to_numeric(channel_data['Total_views'])
channel_data['Total_videos']=pd.to_numeric(channel_data['Total_videos'])

In [ ]:
channel_data

,Channel_name,Subscribers,Total_views,Total_videos,Published
0,codebasics,832000,56843531,613,2015-11-07T17:29:46Z
1,Apna College,4070000,620433140,748,2020-08-05T16:09:28.304314Z
2,Sankho kun,124000,12244896,110,2019-01-23T08:47:22Z
3,Alex The Analyst,548000,22262096,232,2020-01-08T05:04:24.970712Z

In [ ]:
channel_data.dtypes

Channel_name    object
Subscribers      int64
Total_views      int64
Total_videos     int64
Published       object
dtype: object